<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1>Courses</h1>
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="table-header">Course Name</th>
								<th class="table-header">Course Code</th>
								<th class="table-header">Department</th>
							</tr>
						</thead>
						<tbody>
							<% if list != nil%>
								<%list.each do |i|%>
									<%if bool_list.shift == 0%>
										<tr class="clickable-row" id ="students-row"style="cursor: pointer" data-href=<%= "#{session[:id]}/feedback/#{list[1]}"%>>
											<th class="table-header"><%=list.shift%></th>
											<th class="table-header"><%=list.shift%></th>
											<th class="table-header"><%=list.shift%></th>
										</tr>
									<%else%>
										<tr >
											<th class="table-header"><%=list.shift%></th>
											<th class="table-header"><%=list.shift%></th>
											<th class="table-header"><%=list.shift%><span class="glyphicon glyphicon-ok check-style"  aria-hidden="true"></span></th>
										</tr>
									<%end%>
								<% end%>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>            
</div>

<script type="text/javascript">
	$(".clickable-row").click(function() {
window.document.location = $(this).data("href");
});	
</script>