		<div class="top-content">
			<div class="inner-bg">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text" id ="datalength" data-len = <%="#{count}"%>>
							<h1>Statistics</h1>
						</div>
					</div>
				</div>
			</div>            
		</div>


		<div id="course_chart"  class="chart" data-course=<%=course_feedback%>></div>
		<br><br><br>
		<div id="doc_chart"  class="chart" data-doc=<%=doc_feedback%> data-doc-type=<%= type%>></div>
		<br><br><br>
		<% count.times do |i|%>
			<h3 class="rad-text"><%= "Eng." + ta_names.shift%></h3>
			<div id=<%="ta_chart"+"#{i+3}"%>  class="chart" data-ta =<%= ta_feedback%>></div>
			<br><br>
		<%end%>
		<br>
		<div class="row">
			<form method="get" action=<%="/staff/#{session[:id]}/comments/#{params[:course_id]}"%>>
				<button type="submit" class="btn btn-lg">View Comments</button>
			</form>
		</div>
		<br><br>